<!DOCTYPE html>
<html data-theme="{{theme}}"  lang="{{#if lang}}{{lang}}{{else}}en{{/if}}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{metadata.title}} | Chats</title>
        <meta name="description" content="{{metadata.description}}">
        <link rel="preload" href="/assets/globals.css" as="style">
        <link rel="preload" href="/assets/htmx.min.js" as="script">
        <link rel="preload" href="/assets/htmx-loading.min.js" as="script">
        <link rel="stylesheet" href="/assets/globals.css">
        <link rel="stylesheet" href="/assets/chats.css">
        <link rel="stylesheet" href="/assets/header.css">
        <link rel="stylesheet" href="/assets/dropdown.css">
        <script src="/assets/htmx.min.js" defer></script>
        <script src="/assets/htmx-loading.min.js" defer></script>
        <script src="/assets/universal.js" defer></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/sse.js" defer></script>
    </head>
    <body hx-ext="loading-states, sse">
        {{>header}}
        <main class="chats__main">
            <aside class="chats__users min-h-screen">
                <nav>
                    <!-- TODO: ADD Friends Feature -->
                    <h1>Chats</h1>
                </nav>
                <div class="chats__input_with_icon">
                    <input
                        name="search"
                        type="search"
                        hx-post="/chats/chats_of_user?user_id={{user.id}}"
                        hx-target="#user_chats"
                        hx-trigger="input changed delay:500ms, search"
                        placeholder="Search chats..."
                    >
                </div>
                <ul id="user_chats">
                    {{#if chats}}
                        {{#each chats}}
                            <li>
                                <button
                                    type="button"
                                    title="Chat with {{#if (eq_num this.senderId ../user.id)}}{{this.receiverName}}{{else}}{{this.senderName}}{{/if}}"
                                    hx-get="/chats?sender_id={{#if (eq_num this.senderId ../user.id)}}{{this.senderId}}{{else}}{{this.receiverId}}{{/if}}&receiver_id={{#if (eq_num this.senderId ../user.id)}}{{this.receiverId}}{{else}}{{this.senderId}}{{/if}}&is_htmx=true"
                                    hx-trigger="click"
                                    hx-target="#chat_container"
                                >
                                    <div>
                                        <img
                                            src="{{#if (eq_num this.senderId ../user.id)}}{{this.receiverAvatar}}{{else}}{{this.senderAvatar}}{{/if}}"
                                            alt="{{#if (eq_num this.senderId ../user.id)}}{{this.receiverName}}{{else}}{{this.senderName}}{{/if}}'s Profile picture"
                                            width="40"
                                            height="40"
                                            loading="lazy"
                                        />
                                        <span>{{#if (eq_num this.senderId ../user.id)}}{{this.receiverName}}{{else}}{{this.senderName}}{{/if}}</span>
                                    </div>
                                    <p>{{this.message}}</p>
                                </button>
                            </li>
                        {{/each}}
                    {{else}}
                        <li>
                            <p>No chats found.</p>
                        </li>
                    {{/if}}
                </ul>
            </aside>

            <div id="chat_container">
                {{#if error}}
                    <div>
                        <p>{{error}}</p>
                    </div>
                {{else}}
                    {{#if current_chat}}
                    <div class="chats__container" sse-connect="/events/chats?sender_id={{user.id}}&receiver_id={{current_chat.receiverId}}">
                        <nav class="chats__header">
                            <div>
                                <img
                                    src="{{current_chat.receiverAvatar}}"
                                    alt="{{current_chat.receiverName}}'s Profile picture"
                                    width="40"
                                    height="40"
                                    loading="lazy"
                                />
                                <span>{{current_chat.receiverName}}</span>
                            </div>
                        </nav>
                        <ul id="chat_info_container" hx-swap-oob="beforeend" sse-swap="message">
                            {{#each current_chat.messages}}
                                <li data-isreceiver="{{this.isReceiverMessage}}">
                                    <div class="chats__message">
                                        <div>
                                            <img
                                                src="{{#if this.isReceiverMessage}}{{current_chat.receiverAvatar}}{{else}}{{current_chat.senderAvatar}}{{/if}}"
                                                alt="{{#if this.isReceiverMessage}}{{current_chat.receiverName}}{{else}}{{current_chat.senderName}}{{/if}}'s Profile picture"
                                                width="28"
                                                height="28"
                                                loading="lazy"
                                            />
                                            <small>{{#if this.isReceiverMessage}}{{current_chat.receiverName}}{{else}}{{current_chat.senderName}}{{/if}}</small>
                                        </div>
                                        <p>{{this.message}}</p>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                        <form
                            id="chats__form"
                            hx-post="/chats/send"
                            hx-swap="none"
                            hx-trigger="submit"
                        >
                            <input name="receiver_id" value="{{current_chat.receiverId}}" hidden>
                            <input name="sender_id" value="{{current_chat.senderId}}" hidden>
                            <input name="message" type="text" placeholder="Type a message..." required>
                            <button type="submit" title="Send Message">Send</button>
                        </form>
                    </div>
                    {{else}}
                        <div>
                            <p>Select a chat to start chatting</p>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </main>
    </body>
</html>