<!DOCTYPE html>
<html data-theme="{{theme}}"  lang="{{#if lang}}{{lang}}{{else}}en{{/if}}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{metadata.title}} | Chats</title>
        <meta name="description" content="{{metadata.description}}">
        <link rel="preload" href="/assets/globals.css" as="style">
        <link rel="preload" href="/assets/htmx.min.js" as="script">
        <link rel="preload" href="/assets/htmx-loading.min.js" as="script">
        <link rel="stylesheet" href="/assets/globals.css">
        <link rel="stylesheet" href="/assets/chats.css">
        <script src="/assets/htmx.min.js"></script>
        <script src="/assets/htmx-loading.min.js"></script>
        <script src="/assets/universal.js"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    </head>
    <body hx-ext="loading-states, ws">
        <header>
            <div class="container">
                <a href="/" title="{{metadata.title}} Home">
                    {{metadata.title}}
                </a>
                <div class="header__search-container">
                    <input type="search" placeholder="Search" />
                    <button type="button" id="mobile-open-search">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                            <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
                <div class="header__user">
                    {{#if user}}
                        <button aria-controls="user-dropdown" type="button" id="user-dropdown-control" aria-expanded="false">
                            <img
                                src="{{#if (eq_str user.displayImage "")}}{{placeholder_display_image}}{{else}}{{user.displayImage}}{{/if}}"
                                alt="{{user.displayName}}'s Profile picture"
                                width="28"
                                height="28"
                                loading="eager"
                            />
                        </button>
                        <div class="dropdown" id="user-dropdown">
                            <div>
                                <ul>
                                    <li>
                                        <a href="/profile?user_id={{user.id}}" title="Profile">Profile</a>
                                    </li>
                                    <li>
                                        <button type="button" hx-delete="/auth/logout" title="Logout">Logout</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {{else}}
                        <a href="/auth/login" class="primary" title="Sign in">Sign in</a>
                    {{/if}}
                </div>
            </div>
        </header>
        <main class="chats__main">
            <aside class="chats__users min-h-screen">
                <nav>
                    <!-- TODO: ADD Friends Feature -->
                    <h1>Chats</h1>
                </nav>
                <div class="chats__input_with_icon">
                    <input
                        name="search"
                        type="search"
                        hx-post="/chats/chats_of_user?user_id={{user.id}}"
                        hx-target="#user_chats"
                        hx-trigger="input changed delay:500ms, search"
                        placeholder="Search chats..."
                    >
                </div>
                <ul id="user_chats">
                    {{#if chats}}
                        {{#each chats}}
                            <li data-iscurrent="{{#if (eq_num this.id receiver_id)}}true{{else}}false{{/if}}">
                                <button
                                    type="button"
                                    title="Chat with {{this.receiverName}}"
                                    hx-get="/chats?sender_id={{this.senderId}}&receiver_id={{this.receiverId}}&is_htmx=true"
                                    hx-trigger="click"
                                    hx-target="#chat_container"
                                >
                                    <img
                                        src="{{this.receiverAvatar}}"
                                        alt="{{this.receiverName}}'s Profile picture"
                                        width="40"
                                        height="40"
                                        loading="lazy"
                                    />
                                    {{this.receiverName}}
                                </button>
                            </li>
                        {{/each}}
                    {{else}}
                        <li>
                            <p>No chats found.</p>
                        </li>
                    {{/if}}
                </ul>
            </aside>

            <div id="chat_container">
                {{#if error}}
                    <div>
                        <p>{{error}}</p>
                    </div>
                {{else}}
                    {{#if current_chat}}
                    <div class="chats__container" ws-connect="/chats/ws/{{current_chat.id}}">
                        <nav class="chats__header">
                            <div>
                                <img
                                    src="{{current_chat.receiverAvatar}}"
                                    alt="{{current_chat.receiverName}}'s Profile picture"
                                    width="40"
                                    height="40"
                                    loading="lazy"
                                />
                                <span>{{current_chat.receiverName}}</span>
                            </div>
                        </nav>
                        <div class="chats__content">
                            <ul id="chat_info_container" hx-swap-oob="beforeend">
                                {{#each current_chat.messages}}
                                    <li data-isreceiver="{{this.isReceiverMessage}}">
                                        <div class="chats__message">
                                            <div>
                                                <img
                                                    src="{{#if this.isReceiverMessage}}{{current_chat.receiverAvatar}}{{else}}{{currentChat.senderAvatar}}{{/if}}"
                                                    alt="{{#if this.isReceiverMessage}}{{current_chat.receiverName}}{{else}}{{currentChat.senderName}}{{/if}}'s Profile picture"
                                                    width="28"
                                                    height="28"
                                                    loading="lazy"
                                                />
                                                <small>{{#if this.isReceiverMessage}}{{current_chat.receiverName}}{{else}}{{currentChat.senderName}}{{/if}}</small>
                                            </div>
                                            <p>{{this.message}}</p>
                                        </div>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                        <form
                            id="chats__form"
                            ws-send
                            hx-trigger="submit"
                        >
                            <input name="receiver_id" value="{{current_chat.receiverId}}" hidden>
                            <input name="sender_id" value="{{current_chat.senderId}}" hidden>
                            <input name="message" type="text" placeholder="Type a message..." required>
                        </form>
                    </div>
                    {{else}}
                        <div>
                            <p>Select a chat to start chatting</p>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </main>
    </body>
</html>