<!DOCTYPE html>
<html data-theme="{{theme}}"  lang="{{#if lang}}{{lang}}{{else}}en{{/if}}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex nofollow">
        <title>{{error.code}} | {{error.reason}}</title>
        <link rel="preload" href="/assets/globals.css" as="style">
        <link rel="preload" href="/assets/htmx.min.js" as="script">
        <link rel="preload" href="/assets/htmx-loading.min.js" as="script">
        <link rel="stylesheet" href="/assets/globals.css">
        <script src="/assets/htmx.min.js"></script>
        <script src="/assets/htmx-loading.min.js"></script>
        <script src="/assets/universal.js"></script>
    </head>
    <body hx-ext="loading-states">
        <main class="container min-h-screen center-child">
            <div>
                <h1>{{error.code}} | {{error.reason}}</h1>
                <p>
                    <small>
                        {{error.message}}
                    </small>
                </p>
            </div>
        </main>
    </body>
</html>
