<!DOCTYPE html>
<html data-theme="{{theme}}" lang="{{#if lang}}{{lang}}{{else}}en{{/if}}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{metadata.title}}</title>
        <meta name="description" content="{{metadata.description}}">
        <link rel="preload" href="/assets/globals.css" as="style">
        <link rel="preload" href="/assets/htmx.min.js" as="script">
        <link rel="preload" href="/assets/htmx-loading.min.js" as="script">
        <link rel="stylesheet" href="/assets/globals.css">
        <link rel="stylesheet" href="/assets/header.css">
        <link rel="stylesheet" href="/assets/dropdown.css">
        <script src="/assets/htmx.min.js" defer></script>
        <script src="/assets/htmx-loading.min.js" defer></script>
        <script src="/assets/universal.js" defer></script>
    </head>
    <body hx-ext="loading-states">
        {{>header}}
    </body>
</html>